.container {
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.body {
	flex: 0 1px auto;
	overflow: hidden;
	padding: 4px;
	margin: -4px;
}

.copy {
	flex: 0 0 auto;
}

.heading {
	display: flex;
	align-items: center;
}

.value {
	overflow-wrap: break-word;
}

@media (max-width: 640px) {
}

@media (min-width: 641px) {
	.body {
		display: flex;
	}
	.heading {
		width: 160px;
		flex: 0 0 auto;
	}
	.value {
		flex: 0 1 auto;
		overflow: hidden;
		padding: 4px;
		margin: -4px;
	}
}
