.wrapper {
	color: var(--gray-1);
	background: linear-gradient(0deg, var(--highlight-5), var(--highlight-6));
}

.container {
	padding: 48px 8px;
}

.title {
	padding: 8px;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 36px;
}

.body {
	display: grid;
	row-gap: 24px;
}

@media (min-width: 641px) {
	.body {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: max-content max-content;
		grid-template-areas: "info-1 info-2 chart" "info-3 info-4 chart";
	}
}

@media (max-width: 640px) {
	.body {
		grid-template-columns: auto;
		grid-template-rows: repeat(4, max-content) 150px;
		grid-template-areas: "info-1" "info-2" "info-3" "info-4" "chart";
	}
}

.info1 {
	grid-area: info-1;
}

.info2 {
	grid-area: info-2;
}

.info3 {
	grid-area: info-3;
}

.info4 {
	grid-area: info-4;
}

.chart {
	grid-area: chart;
	overflow: hidden;
}
