.container {
	display: grid;
	padding: 48px 16px;
	line-height: 24px;
}

@media (max-width: 640px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 48px;
	}
	.main {
		order: 1;
		grid-column: 1;
	}
}

@media (min-width: 641px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link {
	text-decoration: none;
}
:global(.light) .link:hover {
	color: var(--highlight-7);
}
:global(.dark) .link:hover {
	color: var(--highlight-5);
}
.row + .row {
	margin-top: 16px;
}

.heading {
	font-weight: 600;
	margin-bottom: 16px;
	display: block;
}
