@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

// This supports OpenType features, while the Google's version doesn't
@import "https://rsms.me/inter/inter.css";

body:not(.override) {
	--font-mono: "Source Code Pro", monospace;
	// ss02: disambiguation without zero
	font-feature-settings: "tnum", "ss04";

	// Future Moai
	line-height: 20px;

	// Liquid color scheme
	--accent-0: #2052D5;
	--accent-1: #2A66E8;
	--accent-2: #4284F3;
	--accent-3: #66A6F7;
}
