@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

// This supports OpenType features, while the Google's version doesn't
@import "https://rsms.me/inter/inter.css";

body:not(.override) {
	--font-mono: "Source Code Pro", monospace;
	// ss04: disambiguation without zero
	font-feature-settings: "tnum", "ss04";

	// Future Moai
	line-height: 20px;

	// Liquid color scheme
	--blue-0: #eff6ff;
	--blue-1: #dbeafe;
	--blue-2: #bfdbfe;
	--blue-3: #93c5fd;
	--blue-4: #60a5fa;
	--blue-5: #3b82f6;
	--blue-6: #2563eb;
	--blue-7: #1d4ed8;
	--blue-8: #1e40af;
	--blue-9: #1e3a8a;

	// // Light border mode
	// --gray-3: var(--gray-2);
}
