@media (max-width: 640px) {
	.container {
		display: block;
	}
}

@media (min-width: 641px) {
	.container {
		display: flex;
	}
	.column {
		flex: 1 1 0px;
        overflow: hidden;
        padding: 8px;
        margin: -8px;
	}
}
