.container {
	width: 100%;
	max-height: 80vh;
	overflow: auto;
	position: relative;
}

.container table {
	position: relative;
	border-collapse: separate;
	table-layout: fixed;
	width: 100%;
}

.container th,
.container td {
	overflow: hidden;
	padding: 12px 8px;
	text-overflow: ellipsis;

	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.container tr:last-child td {
	border-bottom-style: none;
}

.container td:first-child,
.container th:first-child {
	position: sticky;
	left: 0;
	border-right-style: solid;
	border-right-width: 1px;
	padding-left: 16px;
	padding-right: 16px;
}

.container td:nth-child(2),
.container th:nth-child(2) {
	padding-left: 16px;
}

.container th {
	position: sticky;
	top: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: left;
}

.container th:first-child {
	z-index: 1;
}
