.body {
	display: flex;
	padding: 8px;
}

.logo,
.theme,
.search {
	padding: 8px;
}

.logo {
	flex: 0 0 auto;
}

.theme {
	flex: 0 0 auto;
}

.search {
	flex: 1 1 0px;
}

@media (max-width: 640px) {
	.body {
		flex-wrap: wrap;
	}

	.search {
		flex: 0 0 100%;
		order: 1;
	}

	.logo {
		flex: 1 1 0px;
	}
}

@media (min-width: 641px) {
	.logo {
		/* Try to align with Info */
		width: 160px;
	}
}
