.container {
	display: grid;
	gap: 16px;
	padding: 16px;
}

@media (max-width: 640px) {
	.container {
		grid:
			"logo toggle" max-content
			"menu menu" max-content
			/ 1fr 1fr;
	}
	.toggle {
		display: block;
		justify-self: flex-end;
	}
	.container > .navigation,
	.container > .theme,
	.container > .search {
		display: none;
	}
	.menu {
		grid-area: menu;
	}
}

@media (min-width: 641px) {
	.container {
		grid:
			"logo navigation search theme" max-content
			/ max-content max-content auto max-content;
		align-items: center;
	}
	.menu,
	.toggle {
		display: none;
	}
	.navigation {
		grid-area: navigation;
	}
	.search {
		grid-area: search;
	}
	.theme {
		grid-area: theme;
	}
}

.logo {
	grid-area: logo;
}

.toggle {
	grid-area: toggle;
}
