.toolbar {
	padding: 8px;
}

.logo,
.navigation,
.toggle,
.search,
.theme {
	padding: 8px;
}

.left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 641px) {
	.toolbar {
		display: flex;
	}
	.search {
		flex: 1 1 0px;
	}
	.toggle {
		display: none;
	}
}

@media (max-width: 640px) {
	.search {
		flex: 0 0 auto;
		width: 100%;
	}
	.left > .navigation,
	.toolbar > .theme {
		display: none;
	}
}
