.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.chart {
	flex: 1 1 0px;
	overflow: hidden;
}

.label {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	color: var(--highlight-2);
}
