.container table {
	min-width: 640px;
}

.container {
	max-height: 80vh;
	overflow: auto;
	position: relative;
}

.token {
	text-align: left;
	width: 100px;
}

.balance {
	text-align: right;
	width: 220px;
}

.address {
	text-align: left;
}
