.link {
	text-decoration: none;
}

.container table {
	width: 100%;
	--width-big: 160px;
	--width-small: 120px;
	--width: calc(var(--width-big) * 2 + var(--width-small) * 1);
	min-width: var(--width);
}

.arguments,
.contract {
	width: 36%;
	min-width: var(--width-big);
}

.name {
	width: 27%; /* @TODO: use Calc here */
	min-width: var(--width-small);
}
