.link {
	text-decoration: none;
}

.container table {
	min-width: 640px;
}

.name {
	text-align: left;
	width: 100px;
}

.contract {
	text-align: left;
	word-break: break-all;
}

.arguments {
	text-align: left;
}

.argument {
	word-break: break-all;
}

.argument + .argument {
	margin-top: 8px;
}
