.heading {
	font-size: 18px;
	padding: 16px;
}

.container {
	margin: -16px;
	white-space: nowrap;
}

.link {
	text-decoration: none;
}

.container table {
	min-width: calc(150px + 150px + 100px + 250px);
}

.height {
	text-align: left;
	width: 150px;
}

.hash {
	text-align: left;
	min-width: 150px;
}

.transactions {
	text-align: right;
	width: 100px;
}

.time {
	text-align: right;
	width: 250px;
}
