.link {
	text-decoration: none;
}

.container table {
	min-width: 960px;
}

.hash {
	text-align: left;
}

.sender {
	text-align: center;
}

.arrow {
	width: calc(16px + 16px);
	vertical-align: middle;
}

.receiver {
	text-align: center;
}

.block {
	text-align: right;
	width: 100px;
}

.type {
	text-transform: capitalize;
	text-align: left;
	width: 100px;
}

.code {
	text-align: left;
	width: 100px;
	vertical-align: middle; /* Has icon */
}

.nonce {
	text-align: right;
	width: 100px;
}
