.link {
	text-decoration: none;
}

.type {
	text-transform: capitalize;
}

.container table {
	width: 100%;
	--width-big: 160px;
	--width-small: 120px;
	--width: calc(calc(var(--width-big) * 3) + calc(var(--width-small) * 3));
	min-width: var(--width);
}

.hash,
.sender,
.receiver {
	width: 20%;
	min-width: var(--width-big);
}

.type,
.block,
.nonce {
	width: 14%; /* @TODO: use Calc here */
	min-width: var(--width-small);
}
