.link {
	text-decoration: none;
}

.type {
	text-transform: capitalize;
}

.container table {
	width: 100%;
	min-width: 900px;
}

.hash {
	text-align: left;
}

.sender {
	text-align: center;
}

.arrow {
	width: calc(16px + 16px);
	vertical-align: middle;
}

.receiver {
	text-align: center;
}

.block {
	text-align: right;
	width: 100px;
}

.type {
	text-align: left;
	width: 100px;
}

.nonce {
	text-align: right;
	width: 100px;
}
